.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
  }
  
  .footer-column {
    width: 20%; /* Adjust as necessary */
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: 5px 0;
  }
  