<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

    <body>
      <!-- <h1 style="text-align:center">Welcome to the Book Organizer</h1>
      <p align="center"><a href=addnew ><button class=grey style="height:75px;width:150px">Create New Book</button></a></p>
      <p align="center"><a href=list ><button class=grey style="height:75px;width:150px">View Books</button></a></p> -->
      <!-- <h1 style="text-align:center">Welcome to Hydroponic Dashboard</h1>
      <p align="center"><a href=addnew ><button class=grey style="height:75px;width:150px">LED ON</button></a></p>
      <p align="center"><a href=list ><button class=grey style="height:75px;width:150px">LED OFF</button></a></p> -->
      <form method="post" action="/">
        <input type="submit" value="LED ON" name="on"/>
        <input type="submit" value="LED OFF" name="off" />
      </form>
    </body>

</html>
