<html>

   <body>
     {% extends "base.html" %}
     {% block content %}
         {{ super() }}

      <div id="form-outline" class="form-group" style="max-width:500px;margin:auto;">
        <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Book Information</h3>
         Enter The ID Of The Book<br>
         <input type = "text" class="form-control" name = "id" placeholder="Enter The ID Of The Book"/></br>
         Enter The Name Of The Book<br>
         <input type = "text" class="form-control" name = "name" placeholder="Enter The Name Of The Book"/></br>
         Enter The Placement Of The Book<br>
         <input type = "text" class="form-control" name = "place" placeholder="Enter The Placement Of The Book"/><br>
         Enter The Author's Name<br>
         <input type = "text" class="form-control" name = "authname" placeholder="Enter The Author's Name"/><br>
         Enter year of publish<br>
         <input for="validationServer01" type = "text" class="form-control" name = "publish" placeholder="Enter year of publish" /><br>
         <label for="exampleFormControlFile1">Upload Book Front Page</label> <br>
         <!-- <input type="file" class="form-control-file" id="exampleFormControlFile1"> <br> -->
         <!-- <input type = "submit" value = "submit" /><br> -->
         <div  class = "custom-file">
           <input type="file" class="custom-file-input" id="customFile">
           <label class="custom-file-label" for="customFile">Choose file</label> <br>
         </div>
        <br>
        <button class="btn btn-primary" value = "submit" type="submit">Submit form</button>
      </form>
    </div>
      {% endblock %}
   </body>

</html>
