<!DOCTYPE html>
<html lang="en">
  {% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>

    <!-- Bootstap core CSS -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet" />

    <!-- Material Design Bootstap -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
    rel="stylesheet" />
  </head>
  <body class="light-blue accent-4">
    <!-- Project Start -->
    <div class="pt-5">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-4 pb-5">
            <!-- Card -->
            <div class="card ho">
              <!-- Card Image -->
              <div class="view overlay">
                <img
                  class="card-img-top"
                  src="http://127.0.0.1:5000/static/images/Book.png"
                  alt="Card image cap"
                  />
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div

              <!-- Card Content -->

              <div class="card-body"
                <!-- Title -->
                <h4 class="card-title">Card title</h4>
                <!-- Text -->
                <p class="card-text">
                  First BOOK
                </p>
                <!-- Button -->
                <a href="#" class="btn blue-gradient">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-lg-4 pb-5">
            <!-- Card -->
            <div class="card ho">
              <!-- Card Image -->
              <div class="view overlay">
                <img
                  class="card-img-top"
                  src="http://127.0.0.1:5000/static/images/Book.png"
                  alt="Card image cap"
                  />
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div

              <!-- Card Content -->

              <div class="card-body"
                <!-- Title -->
                <h4 class="card-title">Card title</h4>
                <!-- Text -->
                <p class="card-text">
                  First BOOK
                </p>
                <!-- Button -->
                <a href="#" class="btn blue-gradient">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-lg-4 pb-5"></div>
        </div>
      </div>
    </div>

    <!-- Project End -->

    <!-- JQuery -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <!-- Bootstrap tooltips -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script
           type="text/javascript"
           src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js">
    </script>
    <!-- MDB core Javascript -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js">
    </script>

    <script>
        $(document).ready(function () {
          new WOW().init();
        });
    </script>
  </body>
  {% endblock %}
</html>
