<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center">HydroPro Control Panel</h1>
<div class="container-fluid pt-6">
  <div class="card-deck">
    <div class="card" style="width: 8rem; height: 22rem;">
      <div class="card-header">SYSTEM SETTINGS</div>
      <div class="card-body">
        <h5 class="card-title">AUTO/MANUAL</h5>
        <p class="card-text">Choose System Setting</p>
        <form align="center" method="post" >
          <input type="submit" name="AUTO" value="AUTO">
          <input type="submit" name="MAN" value="MAN">
        </form>
      </div>
    </div>
    <div class="card d-flex mx-auto bg-info" style="width: 8rem; height: 22rem;">
      <div class="card-header" style="text-align:center">PH SENSOR</div>
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/PH.png" />
        <br>
        <br>
        <form align="center" method="post">
          <input type="submit" name="PH_ON" value="PH_ON" class="btn btn-light btn-md"/>
          <input type="submit" name="PH_OFF" value="PH_OFF" class="btn btn-light btn-md"/>
          <input type="submit" name="PH_READ" value="READ" class="btn btn-success btn-md"/>
          <br>
          <br>
          <table border = 3 style="text-align:center">
            <tr>
              <th style="width:250px">{{ECREADING}}</th>
              <th style="width:250px">{{PHREADING}}</th>
            </tr>
          </table>
        </form>
      </div>
    </div>


    <div class="card bg-info" style="width: 8rem; height: 22rem;">
      <div class="card-header" style="text-align:center">EC SENSOR</div>
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Conductivity.png" />
        <br>
        <br>
        <form align="center" method="post" >
          <input type="submit" name="EC_ON" value="ON" class="btn btn-light btn-md"/>
          <input type="submit" name="EC_OFF" value="OFF" class="btn btn-light btn-md"/>
          <input type="submit" name="EC_READ" value="READ" class="btn btn-success btn-md"/>
          <br>
          <br>
          <table border = 3 style="text-align:center">
              <tr>
                 <th style="width:250px">{{ECREADING}}</th>
              </tr>
           </table>
         </form>
      </div>
    </div>

    <div class="card bg-info" style="width: 8rem; height: 22rem;">
      <div class="card-header" style="text-align:center">TEMPERATURE SENSOR</div>
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Temperature.png" />
        <br>
        <br>
        <form align="center" method="post" >
          <input type="submit" name="TEMP_ON" value="ON" class="btn btn-light btn-md"/>
          <input type="submit" name="TEMP_OFF" value="OFF" class="btn btn-light btn-md"/>
          <input type="submit" name="TEMP_READ" value="READ" class="btn btn-success btn-md"/>
          <br>
          <br>
          <table border = 3 style="text-align:center">
              <tr>
                 <th style="width:250px">{{ECREADING}}</th>
              </tr>
           </table>
         </form>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card bg-info" style="width: 8rem; height: 22rem;">
      <div class="card-header" style="text-align:center">WATER PUMP</div>
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Submersive.png" />
        <br>
        <br>
        <form align="center" method="post" >
          <input type="submit" name="PUMP_ON" value="ON" class="btn btn-light btn-md"/>
          <input type="submit" name="PUMP_OFF" value="OFF" class="btn btn-light btn-md"/>
        </form>
      </div>
    </div>

    <div class="card d-flex mx-auto bg-info" style="width: 8rem; height: 22rem;">
      <div class="card-header" style="text-align:center">NPK PUMP</div>
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/NPK.png" />
        <br>
        <br>
        <form align="center" method="post" >
          <input type="submit" name="ECUP_ON" value="ON" class="btn btn-light btn-md">
          <input type="submit" name="ECUP_OFF" value="OFF" class="btn btn-light btn-md">
        </form>
      </div>
    </div>

    <div class="card bg-info" style="width: 8rem; height: 22rem;">
      <div class="card-header" style="text-align:center">PHUP PUMP</div>
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/PHPUMP.png" />
        <br>
        <br>
        <form align="center" method="post" >
          <input type="submit" name="PHDWN_ON" value="ON" class="btn btn-light btn-md">
          <input type="submit" name="PHDWN_OFF" value="OFF" class="btn btn-light btn-md">
        </form>
      </div>
    </div>

    <div class="card bg-info" style="width: 8rem; height: 22rem;">
      <div class="card-header" style="text-align:center">WATER LEVEL SENSOR</div>
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Water_Level.png" />
        <br>
        <br>
        <form align="center" method="post" >
          <input type="submit" name="WL_OFF" value="OFF" class="btn btn-light btn-md">
          <input type="submit" name="WL_ON" value="ON" class="btn btn-light btn-md">
          <input type="submit" name="WL_READ" value="READ" class="btn btn-success btn-md">
          <br>
          <br>
          <table border = 3 style="text-align:center">
              <tr>
                 <th style="width:250px">{{ECREADING}}</th>
              </tr>
           </table>
         </form>
      </div>
    </div>
  </div>
</div>
<style>
.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}
</style>
{% endblock %}
