<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  {% extends "base.html" %}
     {% block content %}
         {{ super() }}

<h1 style="text-align:center">HydroPro Control Panel</h1>
<form align="center" method="post" >
  <input type="submit" name="PHup_ON" value="PHup_ON">
  <input type="submit" name="PHup_OFF" value="PHup_OFF">
  <input type="submit" name="PHdown_ON" value="PHdown_ON">
  <input type="submit" name="PHdown_OFF" value="PHdown_OFF">
  <input type="submit" name="EC_ON" value="EC_ON">
  <input type="submit" name="EC_OFF" value="EC_OFF">
  <input type="submit" name="TempSensor_ON" value="TempSensor_ON">
  <input type="submit" name="TempSensor_OFF" value="TempSensor_OFF">



</form>

  {% endblock %}
</body>
</html>
