<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center">HydroPro Control Panel</h1>
<div class="container-fluid pt-5">
  <div class="card-deck">
    <div class="card" style="width: 10rem; height: 25rem;">
      <div class="card-body">
        <h5 class="card-title">AUTO/MANUAL</h5>
        <p class="card-text">Choose System Setting</p>
        <form align="center" method="post" >
          <input type="submit" name="AUTO" value="AUTO">
          <input type="submit" name="MAN" value="MAN">
        </form>
      </div>
    </div>
    <div class="card bg-info" style="width: 10rem; height: 25rem;">
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/PH.png" />
        <h5 class="card-title" style="text-align:center">PH Sensor</h5>
        <br>
        <br>
        <form align="center" method="post" >
          <input type="submit" name="PH_OFF" value="PH_OFF">
          <input type="submit" name="PH_ON" value="PH_ON">
          <br>
          <br>
          <table border = 3 style="text-align:center">
              <tr>
                 <th style="width:250px">{{PHREADING}}</th>
              </tr>
           </table>
         </form>
      </div>
    </div>


    <div class="card bg-info" style="width: 10rem; height: 25rem;">
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Conductivity.png" />
        <h5 class="card-title" style="text-align:center">Electrical Conductivity</h5>
        <!-- <p class="card-text">Control PH Sensor</p> -->
        <br>
        <p class="card-text"></p>
        <form align="center" method="post" >
          <input type="submit" name="EC_OFF" value="EC_OFF">
          <input type="submit" name="EC_ON" value="EC_ON">
          <br>
          <br>
          <table border = 3 style="text-align:center">
              <tr>
                 <th style="width:250px">{{ECREADING}}</th>
              </tr>
           </table>
         </form>
      </div>
    </div>

    <div class="card" style="width: 10rem; height: 25rem;">
      <div class="card-body">
        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Temperature.png" />
        <h5 class="card-title" style="text-align:center">TEMPERATURE SENSOR</h5>
        <form align="center" method="post" >
          <input type="submit" name="TEMP_OFF" value="TEMP_OFF">
          <input type="submit" name="TEMP_ON" value="TEMP_ON">
          <br>
          <br>
          <table border = 3 style="text-align:center">
              <tr>
                 <th style="width:250px">{{ECREADING}}</th>
              </tr>
           </table>
         </form>
      </div>
    </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card" style="width: 10rem; height: 25rem;">
      <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Submersive.png" />
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">WATER PUMP</h5>
        <form align="center" method="post" >
          <input type="submit" name="PUMP_OFF" value="PUMP_OFF">
          <input type="submit" name="PUMP_ON" value="PUMP_ON">
        </form>
      </div>
    </div>

    <div class="card bg-info" style="width: 10rem; height: 25rem;">
      <img alt="Card image cap" class="card-img-top embed-responsive-item" style="width: 19rem;" src="static/NPK.png" />
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">NPK PUMP</h5>
        <form align="center" method="post" >
          <input type="submit" name="ECUP_OFF" value="ECUP_OFF">
          <input type="submit" name="ECUP_ON" value="ECUP_ON">
        </form>
      </div>
    </div>

    <div class="card" style="width: 10rem; height: 25rem;">
      <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/PHPUMP.png" />
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">PH PUMP</h5>
        <form align="center" method="post" >
          <input type="submit" name="OFF" value="OFF">
          <input type="submit" name="ON" value="ON">
        </form>
      </div>
    </div>

    <div class="card" style="width: 10rem; height: 25rem;">
      <img alt="Card image cap" class="card-img-top embed-responsive-item" src="static/Water_Level.png" />
      <div class="card-body">
        <h5 class="card-title" style="text-align:center">WATER LEVEL</h5>
        <form align="center" method="post" >
          <input type="submit" name="OFF" value="OFF">
          <input type="submit" name="ON" value="ON">
          <table border = 3 style="text-align:center">
              <tr>
                 <th style="width:250px">{{ECREADING}}</th>
              </tr>
           </table>
         </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
