<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}


		<!--
	<body>
		<h2>Choose From Exsisting Plansts OR Add Yours!!</h2>
		<p>Exsisting Plants</p>
		<form action="/action_page.php">
			<input list="browsers" name="browser">
			<datalist id="browsers">
				<option value="Tomato">
				<option value="Cucumber">
				<option value="CauliFlower">
				<option value="Lettuce">
				<option value="Strawberry">
			</datalist>
			<input type="submit"> 
		</form> 


		<h2> Choose From Existing Plants OR Add Yours!!! (center) </h2> 	--!>

		<table width=100% height=100%>
			<tr>
				<td width=50% height = 100% align="center">
					<h3>Existing Plants</h3>
					<p>Choose Plant</p>
					<form action="/action_page.php">
						<input list="browsers" name="browser">
						<datalist id="browsers">
							<option value="Tomato">
							<option value="Cucumber">
							<option value="CauliFlower">
							<option value="Lettuce">
							<option value="Strawberry">
						</datalist>
						<input type="submit"> 
					</form>
				</td>
				<td width=50% align="center">
					<h3>Add New Plant</h3>
					<p>Add Your Plant's Parameters</p>
					<!-- 
					<form method="POST">
					    <input name="variable">
						<input type="submit">
						</form> --!>

					<form action="/action_page.php">
					  <label for="fname">Name Of Plant:</label><br>
					  <input type="text" id="Pname" name="fname" value=""><br>
					  <label for="fname">Stage 1 Period:</label><br>
					  <input type="text" id="Pname" name="fname" value=""><br>
					  <label for="lname">Stage 1 EC Range:</label><br>
					  <input type="text" id="Pname" name="fname" value=""><br>
					  <label for="fname">Stage 2 Period:</label><br>
					  <input type="text" id="Pname" name="fname" value=""><br>
					  <label for="lname">Stage 2 EC Range:</label><br>
					  <input type="text" id="Pname" name="fname" value=""><br>
					  <label for="lname">Stage 3 Period:</label><br>
					  <input type="text" id="Pname" name="fname" value=""><br>
					  <label for="lname">Stage 3 EC Range:</label><br>
					  <input type="text" id="Pname" name="fname" value=""><br>
					  <label for="fname">pH Range:</label><br>
					  <input type="text" id="S1Pname" name="lname" value=""><br><br>
					  <input type="submit" value="Save and add to existing plant table">
					</form>
				</td>
			</tr>
	</table>
		<!-- </body> --!>
<style>
h1 {
		  text-align: center;
}

h2 {
		  text-align: center;
}

h3 {
		  text-align: center;
}
p {
		text-align: center;
}
	</style>
{% endblock %}
