.header {
    /* background-color: rgba(4,97,65,255); */
    /* background-color: #232323; */
    /* background-image: linear-gradient(to bottom, rgba(4,97,65,255), rgba(33,150,83,255), rgba(46,204,113,255), rgba(80,227,194,255)); */
    /* background-image: repeating-linear-gradient(
        45deg,
        rgba(4,97,65,255),
        rgba(4,97,65,255) 10px,
        rgba(46,204,113,255) 10px,
        rgba(46,204,113,255) 20px
    ); */
    background-image: linear-gradient(
        to bottom right, 
        rgba(4,97,65,255), 
        rgba(33,150,83,255), 
        rgba(46,204,113,255), 
        rgba(80,227,194,255)
        );
    display: flex; /*flex container. This will display its direct child elements in a row. */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header .header__logo{
    margin: 10px 10px;
    height: 32px;
    width: 200px;
}
.header__logo img{
    width: auto;
    height: auto; 
    margin: 0px 0px; /* shorthand for top/bottom and right/left */
    object-fit: contain;
    flex-shrink: 0;
}

.header__search{
    display: flex;
    flex: 1;
}
.header__searchIcon{
    padding: 0px;
    height: 30px !important;
    /* background-color: rgba(166,196,177,255); */
    background-color: #a6c4b1;
}

.header__searchInput{
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}